*, body{
	margin:0;
}
#sidebar{
	background-color: black;
	width: 20%;
	height: 100%;
	display: block; 
	position: fixed;
	
}

#sidetop{
	background-image: url('sidebar.jpg');
	background-size: 350px 270px;
	background-repeat: no-repeat;
	width: 100%;
	height: 20%;
	border-bottom: 1px solid white;

}
#logo{
	margin-top:20px;
}
#sidemenu{
	padding-top: 35px;
	background-image: url('sidebar.jpg');
	background-size: 600px 990px;
	background-repeat: no-repeat;
	width: 100%;
	height: 58%;
	border-bottom: 1px solid white;
}
	.btn-menu{
		border: none;
		border-bottom: 1px solid white;
		width: 70%;
		height: 40px;
		background-color: black;
		display: inline-block;
		margin-left:15%;
		margin-top: 10px;
		color:white;
		font-size:20px;
		font-family: 'Germania One', cursive;
		font-family: 'Josefin Sans', sans-serif;
}
#sidefooter{
	background-image: url('sidebar.jpg');
	background-size: 450px 450px;
	background-repeat: no-repeat;
	width: 100%;
	height:22%;
}
#social{
	font-size: 14px;
	padding-bottom: 15px;
	bottom: 35px;
	position: absolute;
}
#facebook{
	bottom: 3px;
	position: absolute;
}
#instagram{
	margin-left: 45px; 
	bottom: 3px;
	position: absolute;
}
#mail{
	font-size: 14px;
	padding-bottom: 36px;
	bottom: 35px;
	position: absolute; 
}

#background{
	padding-top: 45px;
	margin-left: 20%;
	background-image: url('fullbackground.jpg');
	width:80%;
	min-height:900px;
	height: auto;
}
#section{
	padding-top:15px;
	padding-bottom: 15px;
	width:90%;
	margin-left: 5%;
	background-color:black;
	min-height:200px;
	height: auto;
	border-radius:20px;
}
.content{
	margin-top:5px; 
	background-color: black;
	width: 90%;
	margin-left: 5%;
	min-height: 200px;
	height: auto;
	border-bottom: 4px solid white;


}
.content p{
	font-size: 25px;
	padding-top: 30px;
	font-family: 'Germania One', cursive;
	font-family: 'Josefin Sans', sans-serif;
}
.content:last-child{
	border:none;
}
#Home{
border-color: #001166;
}
.todo{
	border: none;
		border-bottom: 2px solid white;
		width: 15%;
		height: 40px;
		background-color: #001166;
		display: inline-block;
		margin-left:40%;
		margin-top: 40px;
		color:black;
		font-weight: bold;
		font-size:20px;
		font-family: 'Germania One', cursive;
		font-family: 'Josefin Sans', sans-serif;

}
.section2{
	padding-top:15px;
	padding-bottom: 15px;
	width:90%;
	margin-left: 5%;
	background-color:none;
	min-height:180px;
	height: auto;
	border-radius:30px;
	margin-top: 50px;
	border: 3px;
	border-color: black;
	box-shadow: 10px 10px 10px 10px black;
	
	
}
.section2:first-child{
	margin-top:0px;
}
.section2 p{
	font-size: 20px;
	padding-top: 30px;
	font-family: 'Germania One', cursive;
	font-family: 'Josefin Sans', sans-serif;
}
.section2 h1{
	font-size: 30px;
	padding-top: 20px;
	font-family: 'Germania One', cursive;
	font-family: 'Josefin Sans', sans-serif;

}
#dog{
	margin-left: 1080px;
	padding-bottom: 5px; 
	bottom: 1px;
	position: absolute;
	border-radius: 10px;
}

#sidetop2{
	background-image: url('DogSidebar.jpg');
	background-size: 350px 470px;
	background-repeat: no-repeat;
	width: 100%;
	height: 20%;
	border-bottom: 2px solid black;

}
#sidemenu2{
	padding-top: 35px;
	background-image: url('DogSidebar.jpg');
	background-size: 400px 690px;
	background-repeat: no-repeat;
	width: 100%;
	height: 58%;
	border-bottom: 3px solid black;
}
	.btn-menu2{
		border: none;
		border-bottom: 1px solid white;
		width: 70%;
		height: 40px;
		background-color: black;
		display: inline-block;
		margin-left:15%;
		margin-top: 10px;
		color:white;
		font-size:20px;
		font-family: 'Germania One', cursive;
		font-family: 'Josefin Sans', sans-serif;
}
#sidefooter2{
	background-image: url('DogSidebar.jpg');
	background-size: 320px 390px;
	background-repeat: no-repeat;
	width: 100%;
	height:22%;
}
#background2{
	padding-top: 45px;
	margin-left: 20%;
	background-image: url('DogBackground.jpg');
	background-size: 1500px 1040px;
	width: 80%;
	min-height:900px;
	height: auto;
}
#dog1 {
	border: white;
	border: 2px;
	border-style: solid;
    border-width: 5px;
	margin-left:110px;
}
#dog2 {
	border: white;
	border: 2px;
	border-style: solid;
    border-width: 5px;
	margin-left:50px;
}
#dog3 {
	border: white;
	border: 2px;
	border-style: solid;
    border-width: 5px;
	margin-left:50px;
}
#dog4 {
	border: white;
	border: 2px;
	border-style: solid;
    border-width: 5px;
	margin-left:110px;
}
#dog5 {
	border: white;
	border: 2px;
	border-style: solid;
    border-width: 5px;
	margin-left:50px;
}
#dog6 {
	border: white;
	border: 2px;
	border-style: solid;
    border-width: 5px;
	margin-left:50px;
}