*, body{
	margin:0;
}
#sidebar{
	background-color: black;
	width: 20%;
	height: 100%;
	display: block; 
	position: fixed;
	
}

#sidetop{
	background-image: url('sidebar.jpg');
	background-size: 350px 270px;
	background-repeat: no-repeat;
	width: 100%;
	height: 20%;

	border-bottom: 1px solid white;

}
#logo{
	margin-top:20px;
}
#sidemenu{
	padding-top: 35px;
	background-image: url('sidebar.jpg');
	background-size: 520px 880px;
	background-repeat: no-repeat;
	width: 100%;
	height: 58%;
	border-bottom: 1px solid white;

}
#sidefooter{
	background-image: url('sidebar.jpg');
	background-size: 450px 450px;
	background-repeat: no-repeat;
	width: 100%;
	height:22%;
}
#social{
	font-size: 14px;
	padding-bottom: 15px;
	bottom: 35px;
	position: absolute;
}
#facebook{
	bottom: 3px;
	position: absolute;
}
#instagram{
	margin-left: 45px; 
	bottom: 3px;
	position: absolute;
}
#mail{
	font-size: 14px;
	padding-bottom: 36px;
	bottom: 35px;
	position: absolute; 
}

.btn-menu{
	border: none;
	border-bottom: 1px solid white;
	width: 70%;
	height: 40px;
	background-color: black;
	display: inline-block;
	margin-left:15%;
	margin-top: 10px;
	color:white;
	font-size:20px;
	font-family: 'Germania One', cursive;
	font-family: 'Josefin Sans', sans-serif;
}

#background{
	padding-top: 45px;
	margin-left: 20%;
	background-image: url('fullbackground.jpg');
	width:80%;
	min-height:900px;
	height: auto;
}
#section{
	padding-top:15px;
	padding-bottom: 15px;
	width:90%;
	margin-left: 5%;
	background-color:black;
	min-height:200px;
	height: auto;
	border-radius:20px;
}
.content{
	margin-top:5px; 
	background-color: black;
	width: 90%;
	margin-left: 5%;
	min-height: 200px;
	height: auto;
	border-bottom: 4px solid white;

}
.content p{
	font-size: 25px;
	padding-top: 30px;
}
.content:last-child{
	border:none;
}